<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BPMPortlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<!-- This must be the same as the servlet URL due to a bug in RegexRewriter -->
		<servlet-name>bpmportlet</servlet-name>
		<servlet-class>es.tangrambpm.liferay.servlet.BPMServlet</servlet-class>
		<init-param>
		<param-name>mementoSessionKey</param-name>
			<param-value>mementoSessionKey</param-value>
		</init-param>
		<init-param>
			<param-name>cssRegex</param-name>
			<param-value>(?:url\((?:'|")?(.*?)(?:'|")?\))|(?:@import\s+[^url](?:'|")?(.*?)(?:'|")|;|\s+|$)</param-value>
		</init-param>
		<init-param>
			<param-name>jsRegex</param-name>
			<param-value>open\('([^']*)'|open\("([^\"]*)"</param-value>
		</init-param>
		<init-param>
			<param-name>ignoreRequestHeaders</param-name>
			<param-value>cookie,cookie2,user-agent,accept-encoding,connection,keep-alive,ssl_client_cert</param-value>
		</init-param>
		<init-param>
			<param-name>ignorePostToGetRequestHeaders</param-name>
			<param-value>content-type,content-length</param-value>
		</init-param>
		<init-param>
			<param-name>copyRequestHeaders</param-name>
			<param-value>Accept,Accept-Language,Referer,X-Forwarded-URL</param-value>
		</init-param>
		<init-param>
			<param-name>copyRequestPostHeaders</param-name>
			<param-value>Content-Type</param-value>
		</init-param>
		<init-param>
			<param-name>copyResponseHeaders</param-name>
			<param-value>Content-Disposition,Content-Type</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
			<!-- This must be the same as the servlet URL due to a bug in RegexRewriter -->
			<!-- Do not change the URL, it's used in main.js -->
			<servlet-name>bpmportlet</servlet-name>
			<url-pattern>/bpmportlet/*</url-pattern>
	</servlet-mapping>
	<session-config>
        <!-- disable session timeout for now -->
		<session-timeout>-1</session-timeout>
	</session-config>
	<jsp-config>
		<taglib>
			<taglib-uri>http://displaytag.sf.net</taglib-uri>
			<taglib-location>/WEB-INF/tld/displaytag.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
			<taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
			<taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri>
			<taglib-location>/WEB-INF/tld/x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/aui</taglib-uri>
			<taglib-location>/WEB-INF/tld/aui.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/portlet</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-portlet-ext.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/security</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-security.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/theme</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-theme.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/ui</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-ui.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/util</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-util.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-bean</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-bean-el</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-bean-el.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-html</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-html-el</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-html-el.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-logic</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-logic-el</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-logic-el.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-nested</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-tiles</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://struts.apache.org/tags-tiles-el</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-tiles-el.tld</taglib-location>
		</taglib>
	</jsp-config>
    <error-page>
      <error-code>400</error-code>
      <location>/html/400.html</location>
    </error-page>
    <error-page>
      <error-code>403</error-code>
      <location>/html/403.html</location>
    </error-page>
    <error-page>
      <error-code>404</error-code>
      <location>/html/404.html</location>
    </error-page>
    <error-page>
      <error-code>405</error-code>
      <location>/html/405.html</location>
    </error-page>
    <error-page>
      <error-code>500</error-code>
      <location>/html/500.html</location>
    </error-page>
    <error-page>
      <error-code>501</error-code>
      <location>/html/501.html</location>
    </error-page>
    <error-page>
      <error-code>502</error-code>
      <location>/html/502.html</location>
    </error-page>
    <error-page>
      <error-code>503</error-code>
      <location>/html/503.html</location>
    </error-page>
    <error-page>
      <error-code>504</error-code>
      <location>/html/503.html</location>
    </error-page>
</web-app>
